@import "tailwindcss";

@theme {
  --color-background: #F5F7FA;
  --color-title: #1F2937;
  --color-content: #374151;
  --color-job-title: #80838D;

  @keyframes slideDown {
    from { height: 0; }
    to { height: var(--radix-collapsible-content-height); }
  }
  @keyframes slideUp {
    from { height: var(--radix-collapsible-content-height); }
    to { height: 0; }
  }

  --animate-slideDown: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
  --animate-slideUp: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

@layer base {
  html, body {
    @apply m-0 bg-background;
    font-family: "Noto Sans TC", "Helvetica Neue", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  }
}
